<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="h-100">
  <head>
    <meta charset="UTF-8">
    {% feed_meta %}
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#f8f9fa">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {%- include _css.html -%}
    {%- include analytics.html -%}
  </head>
  <body class="container d-flex h-100 p-3 bg-light">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
        <header class="mb-auto text-center">{%- include header.html -%}</header>
        <main class="p-2 py-5 p-md-5 bg-white rounded m-md-5 shadow-sm">{{ content }}</main>
        <footer class="mt-auto text-center">{%- include footer.html -%}</footer>
    </div>
    {%- include _scripts.html -%}
  </body>
</html>